<div id="stickyBar">
            <h2>Laboratory Reservation</h2>
            <a href="Home.html">Home</a>
            <a href="Reservation.html">Reserve</a>
            <a href="Search.html">Search</a>
            <a href="Profile.html">Profile</a>
            <a href="main.html">Logout</a>
        </div>
