<div class= = "background">
    <div class="header"></div>

        <div class="main">
            <h1 class="title">{{title}}</h1>
            <button class="bigBtn" onClick="Login()">Sign In</button><br><br>
            <button class="bigBtn" onClick="Register()">Sign Up</button>
        </div>

    <div class="footer"></div>
</div>
<script>
    function Login(){
        window.location.assign("Login.html");
    }
            
    function Register(){
        window.location.assign("RegistrationType.html");
    }
</script>