<DOCTYPE! html>
    <!--This html file is used by both the lab technician and student to edit slots. Incomplete-->
    <html>
        <title>Edit Slot</title>

        <head>
            <link rel="stylesheet" href="/css/template.css">
        </head>

        {{> navBar login=true}}
        <body>
            <div id="deleteslot">
                <button type="button" id="deleteSlot" onClick="DeleteSlot()">Delete Reservation</button>
            </div>
            <div class="editslot">
                Edit Slots<br>
                <button type="button" id="editSlot" onClick="EditSlot()">Edit Slot</button>
            </div>
            
            <script>
                function EditSlot(){
                    //sql statement?
                }
            </script>
        </body>
    </html>
</DOCTYPE>
