<DOCTYPE! html>
    <!--This html file is used by both the lab technician and student to edit slots. Incomplete-->
    <html>
        <title>Edit Slot</title>

        <head>
            <div id="stickyBar">
                <h2>Laboratory Reservation</h2>
                <!-- <a href="Home.html">Home</a>
                <a href="Reservation.html">Reserve</a>
                <a href="Search.html">Search</a>
                <a href="Profile.html">Profile</a>
                <a href="main.html">Logout</a> -->
            </div>

            <link rel="stylesheet" href="/css/template.css">
        </head>
    
        <body>
            <div id="deleteslot">
                <button type="button" id="deleteSlot" onClick="DeleteSlot()">Delete Reservation</button>
            </div>
            <div class="editslot">
                Edit Slots<br>
                <button type="button" id="editSlot" onClick="EditSlot()">Edit Slot</button>
            </div>
            
            <script>
                function EditSlot(){
                    //sql statement?
                }
            </script>
        </body>
    </html>
</DOCTYPE>
