<!DOCTYPE html>
    <html>
        <head>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <link rel="stylesheet" href="/css/template.css">
        </head>
        <!--This html page is used by both the lab technician and student to view the reservation list of lab 1. Incomplete-->

        {{> navBar login=true}}
        <body>
            {{#each registrations}}
            <br><br><br><br>
            <div id = "SeatList">
                <table id = "reserveTable" class = "resizeSlightlySmaller">
            <tr>
                <th>Name</th>
                <th>ID Number</th>
                <th>Number Reserved</th>
                <th>Date</th>
                {{!-- <th>    </th> --}}
            </tr>

            <tr>
                <div class="registrations">
                    
                <th><div class="name"><strong>{{name}}</strong></div></th>
                <th><div class="id"><strong>{{id}}</strong></div></th>
                <th><div class="numOfSeats"><strong>{{numOfSeats}}</strong></div></th>
                <th><div class="dateReserved"><strong>{{dateReserved}}</strong></div></th>
            </tr>
            </table>
            </div>
            {{/each}}

            <script>
                let currentDate = new Date();
                const reservedSlotsString = localStorage.getItem('reservedSlots');//Retrieve from local storage
                const reservedSlots = JSON.parse(reservedSlotsString);//Parse to get value
                
                $.get('../controllers/getLab1DataController.js', function(data, status){
                    const reservations = JSON.parse(data);
                    console.log("Status: " + status);
                });
                const tableRow = $("<tr></tr>");
                const tableData = $("<td></td>");
                for(index = 0; index < reservations.length; index++){
                    for (subIndex = 0; subIndex < reservations[index].length; subIndex++){
                        $(tableData).append(reservations[index][subIndex]);
                        $(tableRow).append(tableData);
                    }
                    $(tableData).append("<button type = 'submit' value = 'delete'>Delete</button>");
                    $(table).append(tableRow);
                }
            </script>
        </body>
    </html>
</DOCTYPE>