<html>
    <!--This is the registration form for Lab Technicians. My idea is that this html form submits to the database, and the database
    automatically records any registration coming from this form as a lab technician. So it just adds the attribute lab technician
    after checking where the data values came from.-->
    <title>Lab Tech Register</title>

    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="/css/template.css">
    </head>

    <body class="background">
        <div class="reg main">
            Information entered here will only be strictly used for<br>
            the purpose of this website and will not be shared<br>
            to the public.<br><br>

            <form action = "/registerTech" method = "post">
                <fieldset>
                    <label for="fName">First Name:</label>
                    <input type="text" id = "firstName" class="infoReg" name = 'fNameLab'><br>
                    <br><label for="lName">Last Name:</label>
                    <input type="text" id = "lastName" class="infoReg" name = 'lNameLab'><br>
                    <br><label for="dob">Date of Birth:</label>
                    <input type="date" id = "dateOfBirth" class="infoReg" name = 'birthLab'><br>
                    <br><label for="uName">Username:</label>
                    <input type="text" id = "userName" class="infoReg" name = 'userLab'><br>
                    <br><label for="password">Password:</label>
                    <input type="password" id = "password" class="infoReg" name = 'passwordLab'><br><br>
                    <button type="button" id="login" onClick="Login()">Sign in</button> 
                    <button type="submit" id="register">Register</button>
                </fieldset>
            </form>    
        </div>

        <script>
            const registeredUsersString = localStorage.getItem('registeredUsers');//Retrieve from local storage
            const registeredUsers = JSON.parse(registeredUsersString);//Parse to get value
            console.log(registeredUsers);

            function Login(){
                window.location.assign("Login.html");
            }

           /* function Register(){
                console.log("Registered User!");
                var firstName = document.getElementById("firstName").value;//Get firstName value in input tag id firstName
                var lastName = document.getElementById("lastName").value;//Get lastName value in input tag id lastName
                var dateOfBirth = document.getElementById("dateOfBirth").value;//Get dateOfBirth value in input tag id dateOfBirth
                var userName = document.getElementById("userName").value;//Get userName value in input tag id userName
                var password =document.getElementById("password").value//Get password value in input tag id password

                const registeredUser = {//Create an instance of a registered user and set its values
                    firstName: firstName,
                    lastName: lastName,
                    dateOfBirth: dateOfBirth,
                    userName: userName,
                    password: password
                };
                
                registeredUsers.push(registeredUser);//Push the registered user inside the array registeredUsers
                const registeredUsersString = JSON.stringify(registeredUsers);//Stringify to transfer JSON objects into local storage
                localStorage.setItem('registeredUsers', registeredUsersString);//Transfer to local storage
                console.log(registeredUsersString);
                window.location.assign("Login.html");
            }*/
        </script>
    </body>
</html>
