<!DOCTYPE html>
<html>
    <!--This html page is for both the lab technician and student to navigate to the login or register page-->
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="/css/template.css">
        <title>Main</title>
    </head>

    <body class="background">
        <div class="header"></div>

        <div class="main">
            <h1 class="title">DLSU Lab Reservation</h1>
            <button class="bigBtn"><a href="/checkUser">Sign In</a></button><br><br>
            <button class="bigBtn"><a href="/registrationType">Sign Up</a></button>
        </div>

        <div class="footer"></div>

        {{!-- <script>
            function Login(){
                $(location).attr("href", "Login.hbs");
            }
            
            function Register(){
                $(location).attr("href", "RegistrationType.hbs");
            }
        </script> --}}
    </body>
</html>
