<!DOCTYPE html>
    <html>
        <!--This html page is for both the lab technician and student to reserve slots-->
        <title>Reserve Slot</title>

        <head>
	     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <link rel="stylesheet" href="/css/template.css">
        </head>

        {{> navBar login=true}}
        <body>
            <div class="reserveRequest">
                <fieldset>
                    <form action="/reserve" method="post">
                    Name: <input type="text" id="name" class="form" style="margin-left: 100px" name = "name"><br><br>
                    ID number: <input type="text" id="idNum" class="form" style="margin-left: 60px" name = "idNum"><br><br>
                    number of seats: <input type="number" id="numSeats" class="form" style="margin-left: 20px" name = "numOfSeats"><br><br>
                    Date to Reserve for: <input type="datetime-local" id="date" class="form" name = "reservationDate"><br><br>
                    <input type="hidden" id="lab" name = "lab"/>
                        <div class="lbTemplate">
                            <br><br><br><br><br><br>
                            <button type="submit" id="lab1" class="Lab" onclick="lb1()">Lab 1<br><h6 style="margin-top:-2px;height: 0px;margin-bottom: 16.222;width: 18.941;">Available: </h6><h6 id="available1" style="margin-top: 16.222;">10</h6></button>
                            <button type="submit" id="lab2" class="Lab" onclick="lb2()">Lab 2<br><h6 style="margin-top:-2px;height: 0px;margin-bottom: 16.222;width: 18.941;">Available: </h6><h6 id="available2" style="margin-top: 16.222;">10</h6></button>
                            <button type="submit" id="lab3" class="Lab" onclick="lb3()">Lab 3<br><h6 style="margin-top:-2px;height: 0px;margin-bottom: 16.222;width: 18.941;">Available: </h6><h6 id="available3" style="margin-top: 16.222;">10</h6></button>    
                        </div>
                    </form>
                </fieldset>
            </div>

            <script>
                function lb1(){
                    $("#lab").val("lab1"); // Sets the text from total donation to your hidden input
                }

                function lb2(){
                    $("#lab").val("lab2"); // Sets the text from total donation to your hidden input
                }

                function lb3(){
                    $("#lab").val("lab3"); // Sets the text from total donation to your hidden input
                }
            </script>
        </body>
    </html>
</DOCTYPE>
