<html>
    <!--This html page is for the lab technician and student to search for other users. Incomplete-->
    <title>Search</title>

    <head>
        <link rel="stylesheet" href="/css/template.css">
    </head>

    {{> navBar login=true}}
    <body>
        <fieldset>
            <form action="/searchType" method="post">
                <h1>Search Other Users</h1>

                <div class="main btnCenter lbTemplate">
                    Username <input type="text" id="otherUsers" class="resizeSlightlySmaller" name = "userName">
                    <button type="submit" class="search resizeSlightlySmaller smallBtn" onClick="SearchUser()">Search</button>
                    Free Slots <input type="text" id="freeSlots" class="resizeSlightlySmaller" name = "freeSlots">
                    <button type="submit" class="search resizeSlightlySmaller smallBtn" onClick="SearchFreeSlots()">Search</button>
                </div>
            </form>
        </fieldset>

        <script>
            function SearchUser(){
                $("#freeSlots").val("");
            }

            function SearchFreeSlots(){
                $("#otherUsers").val("");
            }
        </script>
    </body>
</html>
