<!-- <html>
    <title>Slots</title>
    <head>
        <div id="stickyBar">
            <h2 style="margin-left: 10px;padding-right: 427px;height: 68.425;width: 200px;">Laboratory Reservation</h2>
            <a href="Home.html">Home</a>
            <a href="Reservation.html">Reserve</a>
            <a href="Search.html">Search</a>
            <a href="Profile.html">Profile</a>
        </div>
        <link rel="stylesheet" href="/css/template.css">
    </head>
    <body>
        <div>
            <button type="button" id="table1" onClick="tb1()" class="Table">6</button>
            <button type="button" id="table2" onClick="tb2()" class="Table">6</button>
            
        </div>
        <script>
            var empty;
            var newElement;
            function tb1(){
                empty = document.getElementById("table1").innerText;
                if (empty == 1){
                    document.getElementById("table1").style.backgroundColor = "red";
                }
                if(empty == 0){
                    document.getElementById("table1").innerText = "0";
                }
                else{
                    document.getElementById("table1").innerText = empty - 1;
                }
            }
            function tb2(){
                empty = document.getElementById("table2").innerText;
                if (empty == 1){
                    document.getElementById("table2").style.backgroundColor = "red";
                }
                if(empty == 0){
                    document.getElementById("table2").innerText = "0";
                }
                else{
                    document.getElementById("table2").innerText = empty - 1;
                }
            }
        </script>
    </body>
</html> -->
