<DOCTYPE! html>
    <html>
        <!--Home page of normal users have three lab buttons to view the available slots within 7 days from the current date-->
        <title>View Slot</title>
        
        <head>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <link rel="stylesheet" href="/css/template.css">
        </head>

        {{> navBar login=true}}
        <body>
            <div class="lbTemplate">
                <fieldset>
                    <form action="/slot" method="post">
                        <input type="hidden" id="lab" name = "lab"/>
                        <h3 style="text-align: center;">Which Lab do you want to check?</h3>
                        <button type="submit" id="lab1" onClick="lb1()" class="Lab">Lab 1</button>
                        <button type="submit" id="lab2" onClick="lb2()" class="Lab">Lab 2</button>
                        <button type="submit" id="lab3" onClick="lb3()" class="Lab">Lab 3</button>
                    </form>
                </fieldset>
            </div>
            
            <div id = Seatlist>
                <p id = Seatdaylist><br></p>
                <p id = Seathourlist></p>
            </div>

            <script>
                function lb1(){
                    $("#lab").val("lab1"); // Sets the text from total donation to your hidden input
                }

                function lb2(){
                    $("#lab").val("lab2"); // Sets the text from total donation to your hidden input
                }

                function lb3(){
                    $("#lab").val("lab3"); // Sets the text from total donation to your hidden input
                }
            </script>
        </body>
    </html>
</DOCTYPE>
