<DOCTYPE! html>
    <html>
        <!--Home page of normal users have three lab buttons to view the available slots within 7 days from the current date-->
        <title>View Slot Availability</title>
        
        <head>
            <script src = '/js/script.js' defer></script>
            <link rel="stylesheet" href="/css/template.css">
        </head>

        {{> navBar login=true}}
        <body>
            <div class="lbTemplate main">
                <fieldset>
                    <form action="/loadLab" method="post">
                        <h3 style="text-align: center;">Which Lab do you want to check?</h3>
                        <button type="submit" id="lab1" onClick="lb1()" class="Lab" name="lab" value="1">Lab 1</button>
                        <button type="submit" id="lab2" onClick="lb2()" class="Lab" name="lab" value="2">Lab 2</button>
                        <button type="submit" id="lab3" onClick="lb3()" class="Lab" name="lab" value="3">Lab 3</button>
                    </form>
                </fieldset>
            </div>
            
            <div id = Seatlist>
                <p id = Seatdaylist><br></p>
                <p id = Seathourlist></p>
            </div>
        </body>
    </html>
</DOCTYPE>
