<!DOCTYPE html>
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1 class="title">Welcome to index.hbs! {{name}} </h1>
        <div>
            {{{body}}}
        </div>
    </body>
</html>