<html>
    <!--This is the registration form for Students. My idea is that this html form submits to the database, and the database
    automatically records any registration coming from this form as a student. So it just adds the attribute student after 
    checking where the data values came from.-->
    <title>Lab Tech Register</title>

    <head>
        <script src = '/js/script.js' defer></script>
        <link rel="stylesheet" href="/css/template.css">
    </head>

    {{> labTechNavBar login=true}}
    <body class="background">
        <div class="reg main">
            Information entered here will only be strictly used for<br>
            the purpose of this website and will not be shared<br>
            to the public.<br><br>

            <form action="/registerLabTech" method="post">
                <fieldset>
                    <label for="fName">First Name:</label>
                    <input type="text" id = "firstName" class="infoReg" name = "fName"><br>
                    <br><label for="lName">Last Name:</label>
                    <input type="text" id = "lastName" class="infoReg" name = "lName"><br>
                    <br><label for="dob">Date of Birth:</label>
                    <input type="date" id = "dateOfBirth" class="infoReg" name = "birth"><br>
                    <br><label for="uName">Username:</label>
                    <input type="text" id = "userName" class="infoReg" name = "user"><br>
                    <br><label for="password">Password:</label>
                    <input type="password" id = "password" class="infoReg" name = "password"><br><br>
                    <button type="button" id="login"><a href="/login">Sign In</a></button> 
                    <button type="submit" id="register">Register</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>
