<!DOCTYPE html>
    <html>
        <!--This html page is for both the lab technician and student to reserve slots-->
        <title>Reserve Slot</title>

        <head>
	        <script src = 'http://localhost:3000/js/script.js' defer></script>
            <link rel="stylesheet" href="../css/template.css">
        </head>

        <body>
            {{#if student}}
                {{> navBar login=true}}
                <div class = 'lbTemplate main'>
                    <fieldset>
                        <form id="student" action="/reserve" method="post">
                                <br><br><br><br>
                                Seat number: <input type="number" id="seatNum" class="form" style="margin-left: 20px" name = "seatNum"><br><br>
                                Initial Time to Reserve for:    <select id = 'timeReserved' class = 'timeReserved'
                                                        name = 'timeReserved'>
                                                            <option value = '9:00'>9:00AM</option>
                                                            <option value = '9:30'>9:30AM</option>
                                                            <option value = '10:00'>10:00AM</option>
                                                            <option value = '10:30'>10:30AM</option>
                                                            <option value = '11:00'>11:00AM</option>
                                                            <option value = '11:30'>11:30AM</option>
                                                            <option value = '12:00'>12:00PM</option>
                                                            <option value = '12:30'>12:30PM</option>
                                                            <option value = '1:00'>1:00PM</option>
                                                            <option value = '1:30'>1:30PM</option>
                                                            <option value = '2:00'>2:00PM</option>
                                                            <option value = '2:30'>2:30PM</option>
                                                            <option value = '3:00'>3:00PM</option>
                                                            <option value = '3:30'>3:30PM</option>
                                                        </select><br>
                                Final Time to Reserve for:    <select id = 'finalTimeReserved' class = 'finalTimeReserved'
                                                        name = 'finalTimeReserved'>
                                                            <option value = '9:30'>9:30AM</option>
                                                            <option value = '10:00'>10:00AM</option>
                                                            <option value = '10:30'>10:30AM</option>
                                                            <option value = '11:00'>11:00AM</option>
                                                            <option value = '11:30'>11:30AM</option>
                                                            <option value = '12:00'>12:00PM</option>
                                                            <option value = '12:30'>12:30PM</option>
                                                            <option value = '1:00'>1:00PM</option>
                                                            <option value = '1:30'>1:30PM</option>
                                                            <option value = '2:00'>2:00PM</option>
                                                            <option value = '2:30'>2:30PM</option>
                                                            <option value = '3:00'>3:00PM</option>
                                                            <option value = '3:30'>3:30PM</option>
                                                        </select><br>
                                Date to Reserve for: <input type="date" id="dateReserved" class="form" style="margin-left: 20px" name = "dateReserved" min="2023-12-31"><br><br>
                                                        
                                <br><br><br><br><br><br>
                                <button type="submit" form="student" id="lab1" class="Lab" value="1" onclick="lb1()" name="action">Lab 1<br><h6 style="margin-top:-2px;height: 0px;margin-bottom: 16.222;width: 18.941;">Available: </h6><h6 id="available1" style="margin-top: 16.222;">10</h6></button>
                                <button type="submit" form="student" id="lab2" class="Lab" value="2" onclick="lb2()" name="action">Lab 2<br><h6 style="margin-top:-2px;height: 0px;margin-bottom: 16.222;width: 18.941;">Available: </h6><h6 id="available2" style="margin-top: 16.222;">10</h6></button>
                                <button type="submit" form="student " id="lab3" class="Lab" value="3" onclick="lb3()" name="action">Lab 3<br><h6 style="margin-top:-2px;height: 0px;margin-bottom: 16.222;width: 18.941;">Available: </h6><h6 id="available3" style="margin-top: 16.222;">10</h6></button>
                        </form>
                        <b><p type = 'error' id = 'reserveError' value="{{error}}"></p></b>
                    </fieldset>
                </div>
            {{else if labTech}}
                {{> labTechNavBar login=true}}
                <div class = 'lbTemplate main'>
                    <fieldset>
                        <form id="labTech" action="/reserve" method="post">
                            <br><br><br><br>
                            Username: <input type="text" id="userName" class="form" style="margin-left: 20px" name = "userName"><br><br>
                            Seat number: <input type="number" id="seatNum" class="form" style="margin-left: 20px" name = "seatNum"><br><br>
                            Time to Reserve for:    <select id = 'timeReserved' class = 'timeReserved'
                                                    name = 'timeReserved'>
                                                        <option value = '9:00'>9:00AM</option>
                                                        <option value = '9:30'>9:30AM</option>
                                                        <option value = '10:00'>10:00AM</option>
                                                        <option value = '10:30'>10:30AM</option>
                                                        <option value = '11:00'>11:00AM</option>
                                                        <option value = '11:30'>11:30AM</option>
                                                        <option value = '12:00'>12:00PM</option>
                                                        <option value = '12:30'>12:30PM</option>
                                                        <option value = '1:00'>1:00PM</option>
                                                        <option value = '1:30'>1:30PM</option>
                                                        <option value = '2:00'>2:00PM</option>
                                                        <option value = '2:30'>2:30PM</option>
                                                        <option value = '3:00'>3:00PM</option>
                                                        <option value = '3:30'>3:30PM</option>
                                                    </select><br>
                            Final Time to Reserve for:    <select id = 'finalTimeReserved' class = 'finalTimeReserved'
                                                    name = 'finalTimeReserved'>
                                                        <option value = '9:30'>9:30AM</option>
                                                        <option value = '10:00'>10:00AM</option>
                                                        <option value = '10:30'>10:30AM</option>
                                                        <option value = '11:00'>11:00AM</option>
                                                        <option value = '11:30'>11:30AM</option>
                                                        <option value = '12:00'>12:00PM</option>
                                                        <option value = '12:30'>12:30PM</option>
                                                        <option value = '1:00'>1:00PM</option>
                                                        <option value = '1:30'>1:30PM</option>
                                                        <option value = '2:00'>2:00PM</option>
                                                        <option value = '2:30'>2:30PM</option>
                                                        <option value = '3:00'>3:00PM</option>
                                                        <option value = '3:30'>3:30PM</option>
                                                    </select><br>
                            Date to Reserve for: <input type="date" id="dateReserved" class="form" style="margin-left: 20px" name = "dateReserved" min="2023-12-31"><br><br>

                            <div style="margin-left: 70px">
                                <button type="submit" form="labTech" id="lab1" class="Lab"  value="1" name="action">Lab 1</button>
                                <button type="submit" form="labTech" id="lab2" class="Lab" value="2" name="action">Lab 2</button>
                                <button type="submit" form="labTech" id="lab3" class="Lab" value="3" name="action">Lab 3</button> 
                            </div>
                        </form>
                            <b><p type = 'error' id = 'reserveError'>{{error}}</p></b>   
                    </fieldset>
            {{/if}}

                
                        
                </div>

            <script>
                var d = new Date();
                var curr_date = d.getDate();
                var seven_date = d.getDate()+7;
                var curr_month = d.getMonth();
                curr_month++;
                var curr_year = d.getFullYear();
                if(curr_date < 10)
                {
                    var todaysDate = (curr_year + "-" + curr_month + "-0" + curr_date);
                    var seventhDate = (curr_year + "-" + curr_month + "-0" + seven_date);
                } else {
                    var todaysDate =(curr_year + "-" + curr_month + "-" + curr_date);
                    var seventhDate = (curr_year + "-" + curr_month + "-" + seven_date);
                }

                check = new Date().toISOString().split("T")[0];
                todaysDate = todaysDate.split("T")[0];
                seventhDate = seventhDate.split("T")[0];
                dateReserved.min = new Date(todaysDate).toISOString().split("T")[0];
                dateReserved.max = new Date(seventhDate).toISOString().split("T")[0];
                console.log(dateReserved.min);
                console.log(dateReserved.max);
                console.log(check);
            </script>
        </body>
    </html>
</DOCTYPE>
