    <div class="header"></div>

        <div class="main">
            <h1 class="title">{{title}}</h1>
            <button type="button" id = "signin" class="bigBtn" onClick="Login()">Sign In</button><br><br>
            <button id = "signup" class="bigBtn" onClick="Register()">Sign Up</button>
        </div>

    <div class="footer"></div>
    <script>
        function Login(){
            acctChoice = JSON.stringify({
                acct: "login"
            });
            $.post("app.js", acctChoice);


        }
    </script>
