<!DOCTYPE html>
<html>
    <!--This html page is for both the lab technician and student to navigate to the login or register page-->
    <head>
        <title>{{title}}</title>
        <script src = "./Application/app.js"></script>
        <link rel="stylesheet" href="./css/template.css">
    </head>

    <body>
        {{{body}}}
    </body>
</html>
