<div id="stickyBar">
    {{#if login}}
    <h2>Laboratory Reservation</h2>
    <a href="/home">Home</a>
    <a href="/reservation">Reserve</a>
    <a href="/search">Search</a>
    <a href="/profile">Profile</a>
    <a href="/">Logout</a>
    {{/if}}
</div>