<!DOCTYPE html>
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" href="/css/root.css">
    </head>
    <body>
        <div class="main">
            {{{body}}}
        </div>
    </body>
</html>