<div id="stickyBar">
    {{#if login}}
    <h2>Laboratory Reservation</h2>
    <a href="/about">About</a>
    <a href="/labTechHome">Home</a>
    <a href="/labTechReservation">Reserve</a>
    <a href="/labTechSearch">Search</a>
    <a href="/labTechProfile">Profile</a>
    <a href="/logout">Logout</a>
    {{/if}}
</div>