<!DOCTYPE html>
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" href="/css/root.css">
    </head>
    <body>
        <h1 class="resize">Welcome to index.hbs! {{name}} </h1>
        <div class="">
            {{{body}}}
            {{{firstName}}}
        </div>
    </body>
</html>
