@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

stickyBar{
    border-style: solid;
    background-color: green;
    border-width: 1px;
    border-color: rgb(93,93,93);
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    height: 60px;
    width: -webkit-fill-available;
    align-items: center;
}
#stickyBar a {
    float: right;
    display: flex;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-style: bold;
    flex-grow: 1;
    height: max-content;
  }
#stickyBar a:hover{
    background-color: grey;
  }
#stickyBar h2 {
    margin-left: 20px;
    flex-grow: 15;
}
